.header {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    max-width: 700px;
    font-weight: bold;
    display: flex;
    margin: 15px;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.form-todo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.submit {
    background-color: white;
    color: black;
    width: 100px;
    height: 25px;
    margin-top: 9px;
    margin-right: 25px;
    font-size: 14px;
    line-height: 23px;
}
.input-box {
    height: 25px;
    width: 200px;
    margin-top: 6px;
}